@import "./styles.css";

:root {
    --h-title-color: #000000;
}

.on-top {
    position: relative;
    z-index: 10000;
}

.top-bg {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.top-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.4);
}
